.aniversariantesContainer {
  max-height: 500px; // ou ajuste conforme necessário
  overflow-y: auto;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
}
.card {
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 1px;
  border-left: 4px solid #003e7e;
  align-items: center;
  width: 160%;
  transform: scale(0.85);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  justify-content: space-between;


  &:hover {
    transform: scale(0.9);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
  }
}

.aniversariantes {
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 10px;
  text-align: center;
}

.title {
  font-size: 12px;
  font-weight: bold;
  color: #003e7e;
  margin-bottom: 2px;
}

.subtitle {
  font-size: 7.5px;
  color: #666;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}

.foto {
  width: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
}

.photo {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: #9e9e9e00;
  object-fit: cover;
}

.info {
  width: 55%;
  padding-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 10.5px;
  font-weight: 700;
  color: #000;
  margin: 0;
}

.jobTitle {
  font-size: 9px;
  color: #999;
  font-weight: 600;
  margin: 0;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.highlight {
  border-left: 6px solid #ff6b6b;
  background-color: #fff5f5;
}

.message {
  font-size: 10.5px;
  color: #003e7e;
  font-weight: 600;
  margin: 0;
}

.lateral {
  width: auto; /* antes: 12.75% */
  padding: 0 10px;
  display: flex;
  justify-content: flex-end; /* alinha à direita */
  align-items: center;
  height: 100%;
  margin-left: auto; /* força o posicionamento à extremidade direita */
  background-color: transparent; /* se não quiser cor */
}

.badge {
  width: 24px;
  height: 24px;
}

.ellipsis {
  font-size: 25.5px;
  font-weight: bold;
  color: #000;
}

.empty {
  font-style: italic;
  color: #999;
  padding: 9px;
}

.error {
  color: red;
  font-weight: bold;
  padding: 9px;
}

.messageRow {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  gap: 7.5px;
}

.date {
  font-size: 10.5px;
  color: #555;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  background-color: #f0f0f0;
  padding: 1.5px 6px;
  border-radius: 9px;
}
