.banner {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  background-image: url('./assets/banner.jpg'), linear-gradient(135deg, #004aad, #00aaff);
  background-size: cover;
  background-position: center -225px;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -44px; //Ajuste fino no encaixe com o header.

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #088cd4; /* Linha vertical */
  }

  &::after { /* Opacidade escura sobre imagem */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.textContainer {
  margin-bottom: 20px;
  z-index: 1; /* Garante que fique acima do ::after */
}

.welcomeText {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.subText {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.pageTitle {
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
  z-index: 1;
}
:global(.CanvasZone) {
  padding-top: 0 !important;
  margin-top: 0 !important;
}


/* Responsividade */
@media (max-width: 768px) {
  .banner {
    height: 200px;
  }

  .welcomeText {
    font-size: 24px;
  }

  .subText {
    font-size: 14px;
  }

  .pageTitle {
    font-size: 16px;
  }
}
