
.menuContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

.menuItemCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1; /* Permite que todos os cards cresçam igualmente */
  min-width: 50px;
  margin: 5px;
  padding: 10px;
  background-color: #0d4c8f;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.menuItemImagem {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 5px;
    background-color: transparent; /* Garante que o fundo da imagem seja transparente */
    object-fit: cover; /* Garante que a imagem se ajuste bem ao contêiner */
  }

.menuItemNome {
  font-weight: bold;
  text-align: center;
  font-size: 0.7em;
  word-break: break-word; /* Permite quebras de palavra para textos longos */
}

.menuItemCard:hover {
  transform: translateY(-5px);
}